# database connection
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="autocoderz"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# session
SESSION_SECRET=y0UrHaSh
COOKIE_MAX_AGE_DAYS=30

# password hashing
SALT_ROUNDS=10
PEPPER=y0UrHaSh2