# database connection
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=autocoderz
DATABASE_HOST=localhost
DATABASE_PORT=3306

# api port
PORT=3000

# session
SESSION_SECRET=YOUR_SECRET_HASH
COOKIE_MAX_AGE_DAYS=30

# password hashing
SALT_ROUNDS=10
PEPPER=YOUR_SECRET_HASH

# autodesk
APS_BASIC_AUTH=YOUR_SECRET_KEY